# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [4]:
# CODE HERE
person1 = {'Gender':'Male',
          'Location':'Nizampet, Hyderabad',
          'Name':'John',
          'Occupation':'Data Scientist'}
print(f"the dictionary person1 -{person1}")

the dictionary person1 -{'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}

In [4]:
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [13]:
# CODE HERE
person1 = {'Gender':'Male',
          'Location':'Nizampet, Hyderabad',
          'Name':'John',
          'Occupation':'Data Scientist'}
print(person1)
person1 = person1.keys()
person1 = list(person1)
print(f"the keys in person1 as a list is - {person1}")

{'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
the keys in person1 as a list is - ['Gender', 'Location', 'Name', 'Occupation']

['Name', 'Gender', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [20]:
# CODE HERE
person1 = {'Gender':'Male',
          'Location':'Nizampet, Hyderabad',
          'Name':'John',
          'Occupation':'Data Scientist'}
person1.pop('Location')
print(f"the dictionary person1 after removing location is {person1}")

the dictionary person1 after removing location is {'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [1]:
# CODE HERE
person2= {'Name':'Raghu Ram',
         'Gender':'Male',
          'Age' : 25,
         'Occupation':'Data Scientist'}
print(f"The person2 is {person2}")

The person2 is {'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientist'}

In [5]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [7]:
# CODE HERE
person1 = {'Gender':'Male',
          'Location':'Nizampet, Hyderabad',
          'Name':'John',
          'Occupation':'Data Scientist'}

person2= {'Name':'Raghu Ram',
         'Gender':'Male',
         'Age' : 25,
         'Occupation':'Data Scientist'}
print("="*17,"person1","="*17)
print(person1)
print("="*17,"person2","="*17)
print(person2)

================= person1 =================
{'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
================= person2 =================
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [219]:
# CODE HERE
Dict = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
Dict.pop(4)
print(f"Dictionary after removing key value pair (4,16) is {Dict}")
Dict.popitem()

Dictionary after removing key value pair (4,16) is {1: 1, 2: 4, 3: 9, 5: 25, 6: 36, 7: 49}

(7, 49)


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [87]:
# CODE HERE

Dict ={0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81} 
Value = []
for data in Dict.values():
    Value.append(data)
print(f"the values are - {Value}")
Order = Value.sort(reverse = True)
print(f"The values from the given dictionary in descending order is {Value}")

the values are - [0, 1, 9, 25, 49, 81]
The values from the given dictionary in descending order is [81, 49, 25, 9, 1, 0]

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [156]:
# CODE 
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }
Dict = dict1.update(dict2)
Dict2 = dict1.update(dict3)
print(f"After merging of 3 dictionaries dict1 , dict2 , dict3 is {dict1}")

After merging of 3 dictionaries dict1 , dict2 , dict3 is {'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charanâ€™s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [162]:
# CODE HERE
sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}
sample_dict['emp3']['salary']=8500
print(f"The dictionary is looks like after changing the 'Charan' salary is- \n{sample_dict}")

The dictionary is looks like after changing the 'Charan' salary is-
{'emp1': {'name': 'Jhony', 'salary': 7500}, 'emp2': {'name': 'Ravi', 'salary': 8000}, 'emp3': {'name': 'Charan', 'salary': 8500}}

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key â€˜historyâ€™ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [164]:
# CODE HERE
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
print(f'''the value of key "history" is {sampleDict['class']['student']['marks']['history']}''')

the value of key "history" is 80

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [182]:
# CODE HERE
Biodata = {'Gender': 'Male',
          'Location': 'Nizampet, Hyderabad',
          'Name': 'John',
          'Occupation': 'Data Scientist'}
Biodata['Area']=Biodata.pop('Location')
print(Biodata)

{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist', 'Area': 'Nizampet, Hyderabad'}

{'Gender': 'Male',
 'Area': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [221]:
database = {'ram':1234,'raghu':5678,'kanav':1357}
user_name = input("enter the user name:")
user_name = user_name.lower()
password =int(input("enter 4 digit unique numbers"))
if user_name in database and password == database[user_name]:
    print(f"hello {user_name}!")
else:
    user = input("you want to add into database yes/no:")
    if user == 'yes':
        database[user_name]=password
        print("data is uploaded successfully")
print(f"updated database is {database}")

enter the user name: Dhiraj
enter 4 digit unique numbers 2414
you want to add into database yes/no: yes

data is uploaded successfully
updated database is {'ram': 1234, 'raghu': 5678, 'kanav': 1357, 'dhiraj': 2414}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)